
button{
    background-color: var(--main-color) !important;
    color: #FFFFFF;
    padding: var(--main-padding);
    font-size: var(--main-font-size);
    border-radius: var(--main-radius);
    font-family: 'Lexend Zetta', sans-serif;
    
    &:hover{
        background-color: var(--main-hover-color);
        cursor: pointer;

    }
}

.actions{
    display: flex;
    justify-content: end;
}