:root {
    --main-color: #FF5C00;
    --main-hover-color: #FFAA46;
    --main-padding: 10px 14px;
    --main-font-size: 16px;
    --main-radius: 6px;

    
    /* cards */
    --border-card: 1px solid var(--main-color);
    --padding-card: 12px;

    /* buttons */
    --border-buttons: #000;

    /* Inputs */
    --error-color: #F11C1C;
}

