:root {
    --main-color: var(--azul);
    --main-hover-color: var(--azul);
    --main-padding: 10px 14px;
    --main-font-size: 16px;
    --main-radius: 6px;

    
    /* cards */
    --border-card: 1px solid var(--main-color);
    --padding-card: 12px;

    /* buttons */
    --border-buttons: #000;

    /* Inputs */
    --color-buttons: #CCD3DA;
    --error-bg-color: #FEDCDB;
    --error-color: #A80003;
}

